<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ATMSimulatorNew</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AdminSec1</servlet-name>
    <servlet-class>com.org.AdminSec1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSec1</servlet-name>
    <url-pattern>/AdminSec1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSec2</servlet-name>
    <servlet-class>com.org.AdminSec2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSec2</servlet-name>
    <url-pattern>/AdminSec2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login1</servlet-name>
    <servlet-class>com.org.Login1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login1</servlet-name>
    <url-pattern>/Login1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreadetSec</display-name>
    <servlet-name>CreadetSec</servlet-name>
    <servlet-class>com.org.CreadetSec</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreadetSec</servlet-name>
    <url-pattern>/CreadetSec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawSec</display-name>
    <servlet-name>WithdrawSec</servlet-name>
    <servlet-class>com.org.WithdrawSec</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawSec</servlet-name>
    <url-pattern>/WithdrawSec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PinSec</display-name>
    <servlet-name>PinSec</servlet-name>
    <servlet-class>com.org.PinSec</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PinSec</servlet-name>
    <url-pattern>/PinSec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Statement</display-name>
    <servlet-name>Statement</servlet-name>
    <servlet-class>com.org.Statement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Statement</servlet-name>
    <url-pattern>/Statement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Statement1</display-name>
    <servlet-name>Statement1</servlet-name>
    <servlet-class>com.org.Statement1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Statement1</servlet-name>
    <url-pattern>/Statement1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CardPinGeneratorServlet</display-name>
    <servlet-name>CardPinGeneratorServlet</servlet-name>
    <servlet-class>com.org.CardPinGeneratorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardPinGeneratorServlet</servlet-name>
    <url-pattern>/CardPinGeneratorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreaditSec1</display-name>
    <servlet-name>CreaditSec1</servlet-name>
    <servlet-class>com.org.CreaditSec1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreaditSec1</servlet-name>
    <url-pattern>/CreaditSec1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Statement3</display-name>
    <servlet-name>Statement3</servlet-name>
    <servlet-class>com.org.Statement3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Statement3</servlet-name>
    <url-pattern>/Statement3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Statement4</display-name>
    <servlet-name>Statement4</servlet-name>
    <servlet-class>com.org.Statement4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Statement4</servlet-name>
    <url-pattern>/Statement4</url-pattern>
  </servlet-mapping>
</web-app>