/* #img1{
    height: 400px;
    width: 400px;
    background: url(../IMAGES/kristin-wilson-alEMgpX6oo8-unsplash.jpg);
} */

/* #img2{
    height: 400px;
    width: 400px;
    background: url(../IMAGES/martin-katler-wx-XBLK1bWA-unsplash.jpg);
} */