.h1{
    color: black;
    text-align: center;
    
}
p{
    color: aliceblue;
    
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(../IMAGES/illustration/download\ \(1\).jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: justify;
}