*{
    margin: 0;
    padding: 0;
}
.div1{
    height: 500px;
    width: 500px;
    background-color: black;
}
.div2{
    height: 400px;
    width: 400px;
    background-color: blue;
}
.div3{
    height: 300px;
    width: 300px;
    background-color: yellow;
    border-radius: 100px 50px 100px 50px;
}
.div4{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    border-radius: 100px;
}